@using CuaHang.Models
@model  CuaHang.Models.Brand
@{
    ViewBag.Title = "category Page";
    DBContext db = new DBContext();
    var brandlist = db.Brand.Where(x => x.IsDeleted == false).Take(3).ToList();
    var categorylist = db.Category.Where(x => x.IsDeleted == false).ToList();
    var ontopProduct = db.Product.Where(x => x.IsDeleted == false && x.OnTop == true).Take(10).ToList();
    var sellerProduct = db.Product.Where(x => x.IsDeleted == false && x.IsSeller == true).Take(10).ToList();
    string formatMoney(int? money)
    {
        var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
        return money.Value.ToString("#,###", info.NumberFormat);
    }
}
<!-- New Arrivals -->

<div class="new_arrivals">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_title new_arrivals_title">
                    <h2>New Arrivals</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col text-center">
                <div class="new_arrivals_sorting">
                    <ul class="arrivals_grid_sorting clearfix button-group filters-button-group">
                        <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center active is-checked" data-filter="*">all</li>
                        @foreach (var item in categorylist)
                        {
                            <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".@item.ID">@item.Name</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>

                    <!-- Product 1 -->
                    @foreach (var item in ontopProduct)
                    {
                        <div class="product-item @item.ID">
                            <div class="product discount product_filter">
                                <div class="product_image">
                                    <img src="@item.Image" alt="">
                                </div>
                                <div class="favorite favorite_left"></div>
                                <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
                                <div class="product_info">
                                    <h6 class="product_name"><a href="single.html">@item.Name</a></h6>
                                    <div class="product_price">$@formatMoney(item.Cost)<span>$590.00</span></div>
                                </div>
                            </div>
                            <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>